@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat",
    sans-serif;
  width: 100%;
  background-color: #24305e;
}

/* Utility */

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.hl-red {
  color: #f76c6c;
  font-weight: 700;
}

.hl-yel {
  color: #f8e9a1;
  font-weight: 700;
}

/* ====== NAV ====== */

nav {
  padding: 20px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: #a8d0e6;
}

.email p {
  background: transparent;
  width: 300px;
  font-size: .8rem;
  position: fixed;
  top: 20px;
  right: -90px;
  color: white;
  display: none;
  z-index: 999;
}

.hamburger {
  display: none;
  cursor: pointer;
  outline: none;
}

.hamburger i {
  font-size: 1.6rem;
  padding: 10px 12px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #a222fb;
  z-index: 3;
}

.logo {
  place-self: start;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  font-weight: 400;
  place-self: start;
  color: #a222fb;
}

.logo img {
  width: 200px;
  position: absolute;
  top: -4px;
  left: 0;
}

.languages {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-self: end;
}

.all-lang {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  position: absolute;
  right: 50px;
  top: 15px;
}

.icon-lang {
  font-size: 1.3rem;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 75px;
  right: -40px;
  letter-spacing: .2rem;
  transform: rotate(270deg);
}

.lang a {
  width: 36px;
  padding: 5px 8px;
  text-decoration: none;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.selected a {
  cursor: auto;
  position: relative;
  color: #f76c6c;
}

/* ====== HEADER ====== */

header {
  text-align: center;
  padding-top: 80px;
  color: #120e2b;
  background-color: #a8d0e6;
  padding-bottom: 160px;
  height: 40vw;
}

header h1 {
  font-size: 3rem;
}

header p {
  padding: 30px 0;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
}

.flash {
  background: #a222fb;
  color: #fff;
  padding: 5px 15px;
}

.video-presentation {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}

.video-presentation:hover,
.video-presentation:active {
  color: #f8e9a1;
}

.personal-emoji {
  width: 220px;
  padding-top: 40px;
}

.header-bg {
  width: 720px;
  position: relative;
  z-index: 1;
  padding: 50px;
}

/* ====== MIDDLE BANNER ====== */

.middle-banner {
  background: #24305e;
  color: white;
  position: relative;
  grid-template-columns: 1fr 2fr;
  display: grid;
  place-content: center;
  height: 60vw;
}

.about {
  opacity: 1;
}

.about,
.skills {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}

.about-nav,
.skills-nav {
  color: #f8e9a1;
}

.about h2,
.skills h2 {
  font-size: 2rem;
  padding: 20px;
  font-weight: 700;
}

.about p {
  margin: 0 auto;
  max-width: 700px;
}

.about p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #fff;
}

.curriculum {
  position: relative;
  top: 60px;
  transition: transform 100ms ease-in-out;
}

.curriculum a {
  text-decoration: none;
  padding: 15px 46px;
  border-radius: 2px;
  box-shadow: -6px 6px 0 0 rgba(255, 247, 0, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #f8e9a1;
  color: #24305e;
}

/* .curriculum:hover,
.curriculum:active {
  transform: scale(1.1);
} */

.curriculum i {
  padding-right: 15px;
}

/* Banner nav */

.banner-nav {
  padding-top: 50px;
  color: #e2e2e2;
}

.banner-nav h4 {
  cursor: pointer;
  font-size: 1.3rem;
}

.about-nav {
  display: inline-block;
}

.skills-nav {
  display: inline-block;
}

/* ====== SKILLS ====== */

.skills {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.22, 0.68, 0, 1.71);
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  place-items: center;
  padding-top: 20px;
  margin: 0 auto;
}

.skills i {
  font-size: 3rem;
  cursor: pointer;
}

.skills li span {
  width: 90px;
  background: #f8e9a1;
  color: #24305e;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 18px auto;
  opacity: 1;
  transition: 0.6s opacity;
}

.skills li:hover>span {
  opacity: 1;
}

/* ====== SOCIALS ====== */

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-items: center;
}

.socials i {
  font-size: 3rem;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.social i:hover,
.social i:active {
  transform: scale(1.1);
}

.socials {
  padding-top: 30px;
}

.social a {
  text-decoration: none;
  color: white;
}

/* ====== MY RECENT WORKS ====== */

.show-works {
  height: 60vw;
  margin: 0 auto;
  color: #24305e;
  text-align: center;
  background-color: #f8e9a1;
}

.work2 {
  background-color: #f76c6c;
}

.show-works h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10rem;
  color: #24305e47;
  position: relative;
  bottom: -300px;
  transform: rotate(270deg);
}

.show-works .work-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 650px;
  place-content: center;
  padding: 0 70px;
}

.work-content h3 {
  font-size: 1.3rem;
  color: #24305e8c;
  text-align: start;
  padding-left: 50px;
  letter-spacing: .1rem;
}

.work-col img {
  width: 70%;
  box-shadow: 12px 9px 0px 0px #24305e38;
  position: relative;
  bottom: 140px;
  right: -90px;
  transition: transform 100ms ease-in-out;
}

.work-col img:hover {
  transform: scale(1.2);
}

.work p {
  font-size: 1.8rem;
  padding: 20px 50px 80px 50px;
  line-height: 2.8rem;
  text-align: start;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  width: 650px;
}

.work-buttons {
  text-align: start;
  padding-left: 50px;
}

.work a {
  color: #f8e9a1;
  background-color: #24305e;
  text-decoration: none;
  padding: 18px 46px;
  border-radius: 2px;
  box-shadow: -6px 6px 0 0 rgba(0, 0, 0, .1);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
}

.work a:last-of-type {
  margin-left: 45px;
}

/* ======= CALL TO ACTION ====== */

.call-action {
  padding: 200px 40px;
}

.call-action a {
  text-decoration: none;
  color: #f76c6c;
}

.arrow-down {
  text-align: center;
  padding-top: 20px;
  width: 55px;
}

#question {
  font-family: 'Permanent Marker',
    cursive;
  font-size: 2.3rem;
  letter-spacing: .2rem;
  color: #f8e9a1;
}

.call-action p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

/* ======= FOOTER ======= */

footer {
  background-color: #a8d0e6;
  color: #ffffffd6;
  padding: 20px 80px;
  text-align: center;
}

.logo-footer img {
  width: 200px;
}

.philo-phrase {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

.copyright i {
  color: #f76c6c;
}

footer .socials {
  width: 20%;
  margin: 0 auto;
}

.socials i {
  font-size: 2rem;
}

/* ======= MEDIA QUERY ======= */

@media only screen and (max-width: 1300px) {
  .call-action {
    width: 85%;
  }

  .header-bg {
    width: 680px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-bg {
    width: 600px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 1100px) {
  .middle-banner {
    padding: 0 0 210px 0;
  }

  .header-bg {
    width: 500px;
    padding-top: 140px;
  }
}

@media only screen and (max-width: 1000px) {
  .middle-banner {
    padding: 0 0 210px 0;
    grid-template-columns: 1fr;
  }

  .header-bg {
    display: none;
  }

  .about,
  .skills {
    padding: 40px 100px 100px 100px;
  }
}

@media only screen and (max-width: 920px) {
  header {
    padding-top: 50px;
  }

  .middle-banner {
    padding: 60px 0 200px 0;
  }

  .about,
  .skills {
    padding: 20px 50px 50px 50px;
  }

  .call-action {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
    grid-gap: 0px;
  }

  .call-action p {
    border-left: none;
    border-right: none;
    padding: 15px 0;
  }

  .header-bg {
    width: 500px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    text-align: center;
    padding: 30px;
  }

  .logo img {
    position: relative;
    display: none;
  }

  .curriculum button {
    background: white;
  }

  .languages {
    grid-template-columns: 1fr;
  }

  .all-lang {
    place-self: center;
    position: initial;
  }

  .lang a {
    color: #a222fb;
    background: white;
    border-radius: 290486px;
  }

  .selected a {
    background: #a222fb;
    color: white;
  }

  .hamburger {
    display: inline;
  }

  footer .socials {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding: 0 10px;
    display: grid;
    place-content: center;
  }

  .header-bg-div {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .show-works {
    width: 100%;
  }

  .middle-banner {
    padding: 0px 0 250px 0;
  }

  .about,
  .skills {
    padding: 20px;
  }
}