@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@font-face {
  font-family: 'beach_resortregular';
  src: url("/webfontkit/beach_resort-webfont.woff2") format("woff2"), url("/webfontkit/beach_resort-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #24305e;
}

/* =======  UTILITY  ======== */
.hide {
  display: none;
}

.show {
  display: inline-block;
}

.hl-red {
  color: #f76c6c;
  font-weight: 700;
}

.hl-yel {
  color: #f8e9a1;
  font-weight: 700;
}

/* ====== NAVBAR ====== */
nav {
  background-color: #24305e;
}

.email p {
  background: transparent;
  width: 300px;
  font-size: 0.8rem;
  position: fixed;
  top: 20px;
  right: -90px;
  color: #fff;
  display: none;
  z-index: 999;
}

.logo h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  letter-spacing: .1rem;
  font-family: 'beach_resortregular';
  color: white;
  z-index: 999;
}

.logo h1:after {
  content: ' Tononi';
  font-family: 'beach_resortregular';
  position: absolute;
  padding-left: 10px;
  color: #f8e9a1;
}

.languges-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  place-self: end;
}

.languges-container .languages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
  position: absolute;
  right: 20px;
  top: -40px;
  -webkit-transition: top 100ms ease-in-out;
  transition: top 100ms ease-in-out;
  z-index: 999;
}

.languges-container .languages .lang a {
  width: 36px;
  padding: 5px 8px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.languges-container .languages .selected a {
  cursor: auto;
  position: relative;
  color: #f76c6c;
}

.languges-container .btn-lang {
  font-size: 1rem;
  color: #24305e;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 75px;
  right: -35px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background: #8ebfda;
  border-radius: 4px;
  z-index: 999;
}

/* ====== HEADER ====== */
header {
  text-align: center;
  background-color: #24305e;
}

header h2 {
  font-size: 5rem;
  letter-spacing: .1rem;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 30px;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  right: -350px;
  top: 500px;
}

header p {
  padding: 30px 0;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
}

header .video-presentation {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}

header .video-presentation:hover,
header .video-presentation:active {
  color: #f8e9a1;
}

/* ====== PRESENTATION====== */
.presentation__nav {
  padding-top: 50px;
  color: #24305e8c;
}

.presentation__nav h4 {
  cursor: pointer;
  font-size: 1.1rem;
}

.presentation__nav .about__nav {
  display: inline-block;
}

.presentation__nav .skills__nav {
  display: inline-block;
}

.presentation {
  background: #24305e;
  color: #fff;
  position: relative;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 60vw;
}

.presentation .laptop-abstract {
  width: 100%;
  /* max-width: 1000px; */
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vw;
}

.presentation .presentation__col:last-of-type {
  padding-right: 100px;
  place-self: center;
}

.about {
  text-align: start;
  margin: 0 auto;
}

.about p {
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 3rem;
  color: #fff;
  padding: 0 6em;
  text-align: start;
}

.about .curriculum {
  position: relative;
  top: 60px;
  left: 8em;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.about .curriculum a {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 2px;
  -webkit-box-shadow: -6px 6px 0 0 rgba(253, 253, 253, 0.2);
          box-shadow: -6px 6px 0 0 rgba(253, 253, 253, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #fff;
  color: #24305e;
}

.about .curriculum a i {
  padding-right: 15px;
}

.skills {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  place-items: center;
  padding-top: 20px;
  margin: 0 auto;
}

.skills ul li span {
  width: 90px;
  background: #f8e9a1;
  color: #24305e;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 18px auto;
}

.skills ul i {
  font-size: 3rem;
  cursor: pointer;
}

.about__nav,
.skills__nav {
  color: #f8e9a1;
}

.about h2,
.skills h2 {
  font-size: 2rem;
  padding: 20px;
  font-weight: 700;
}

/* ====== MY RECENT WORKS ====== */
.project, .project2, .project3 {
  height: 60vw;
  margin: 0 auto;
  color: #24305e;
  text-align: center;
  background-color: #a8d0e6;
}

.project h2, .project2 h2, .project3 h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 10rem;
  color: #fff;
  position: relative;
  bottom: -300px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.project .project__container, .project2 .project__container, .project3 .project__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 650px;
  place-content: center;
  padding: 0 70px;
}

.project .project__container .project__details h3, .project2 .project__container .project__details h3, .project3 .project__container .project__details h3 {
  font-size: 1.3rem;
  color: #fff;
  text-align: start;
  padding-left: 50px;
  letter-spacing: 0.1rem;
}

.project .project__container .project__details p, .project2 .project__container .project__details p, .project3 .project__container .project__details p {
  font-size: 1.8rem;
  padding: 20px 50px 80px 50px;
  line-height: 2.8rem;
  text-align: start;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  width: 650px;
}

.project .project__container .project__details .project1_img, .project2 .project__container .project__details .project1_img, .project3 .project__container .project__details .project1_img {
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: -60px;
  right: -90px;
  width: 45%;
  position: relative;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.project .project__container .project__details .project1_img:hover, .project2 .project__container .project__details .project1_img:hover, .project3 .project__container .project__details .project1_img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project .project__container .project__details .project__buttons, .project2 .project__container .project__details .project__buttons, .project3 .project__container .project__details .project__buttons {
  text-align: start;
  padding-left: 50px;
}

.project .project__container .project__details .project__buttons a, .project2 .project__container .project__details .project__buttons a, .project3 .project__container .project__details .project__buttons a {
  color: #f8e9a1;
  background-color: #24305e;
  text-decoration: none;
  padding: 18px 46px;
  border-radius: 2px;
  -webkit-box-shadow: -6px 6px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: -6px 6px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
}

.project .project__container .project__details .project__buttons a:last-of-type, .project2 .project__container .project__details .project__buttons a:last-of-type, .project3 .project__container .project__details .project__buttons a:last-of-type {
  margin-left: 45px;
}

.project2 {
  background: #ddf5f5;
}

.project2 .project__container .project__details h3 {
  color: #24305e;
}

.project2 .project__container .project__details .project1_img {
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: -60px;
  right: -90px;
  width: 70%;
}

.project2 .project__container .project__details .project__buttons a {
  color: #fff;
  background-color: #f76c6c;
}

.project3 {
  background: #8ea6c5;
}

.project3 .project__container .project__details h3 {
  color: #fff;
}

.project3 .project__container .project__details .project1_img {
  width: 70%;
  -webkit-box-shadow: 12px 9px 0px 0px #24305e38;
          box-shadow: 12px 9px 0px 0px #24305e38;
  bottom: 140px;
  right: -90px;
}

.project3 .project__container .project__details .project__buttons a {
  color: #24305e;
  background-color: #fff;
}

/* ======= CALL TO ACTION ====== */
.call-action {
  padding-top: 50px;
}

.call-action a {
  text-decoration: none;
  color: #f76c6c;
  position: relative;
  -webkit-transition: padding-right 100ms ease-in-out;
  transition: padding-right 100ms ease-in-out;
}

.call-action a:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: -5px;
  left: 2px;
  background: #f76c6c;
}

.call-action a:after {
  content: "\00bb";
  position: absolute;
  font-size: 2rem;
  opacity: 0;
  bottom: -3px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.call-action a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding-right: 28px;
}

.call-action a:hover:after {
  opacity: 1;
  right: 10px;
}

.call-action p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#question {
  font-family: "Permanent Marker", cursive;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: #f8e9a1;
}

/* ======= FOOTER ======= */
footer {
  color: #ffffffd6;
  padding: 20px 80px;
  text-align: center;
}

.logo-footer h1 {
  font-size: 2rem;
  letter-spacing: .1rem;
  font-family: 'beach_resortregular';
  color: white;
  padding: 20px;
}

.philo-phrase {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.copyright {
  padding-top: 50px;
}

.copyright i {
  color: #f76c6c;
}

/* ====== SOCIALS ====== */
.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-items: center;
  padding-top: 30px;
  width: 20%;
  margin: 0 auto;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials i {
  font-size: 2rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.socials i:hover, .socials i:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ======= MEDIA QUERY ======= */
/*# sourceMappingURL=main.css.map */