@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import "./variables.scss";

@font-face {
  font-family: 'beach_resortregular';
  src: url('/webfontkit/beach_resort-webfont.woff2') format('woff2'),
    url('/webfontkit/beach_resort-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: $deep-blue;
}

/* =======  UTILITY  ======== */

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.hl-red {
  color: $red;
  font-weight: 700;
}

.hl-yel {
  color: $yellow;
  font-weight: 700;
}

/* ====== NAVBAR ====== */

nav {
  background-color: $deep-blue;
}

.email p {
  background: transparent;
  width: 300px;
  font-size: 0.8rem;
  position: fixed;
  top: 20px;
  right: -90px;
  color: #fff;
  display: none;
  z-index: 999;
}

.logo h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  letter-spacing: .1rem;
  font-family: 'beach_resortregular';
  color: white;
  z-index: 999;

  &:after {
    content: ' Tononi';
    font-family: 'beach_resortregular';
    position: absolute;
    padding-left: 10px;
    color: $yellow;
  }
}

.languges-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-self: end;

  .languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    position: absolute;
    right: 20px;
    top: -40px;
    transition: top 100ms ease-in-out;
    z-index: 999;

    .lang a {
      width: 36px;
      padding: 5px 8px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
    }

    .selected a {
      cursor: auto;
      position: relative;
      color: $red;
    }
  }

  .btn-lang {
    font-size: 1rem;
    color: $deep-blue;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 75px;
    right: -35px;
    transform: rotate(270deg);
    background: $sky-blue-darker;
    border-radius: 4px;
    z-index: 999;
  }
}

/* ====== HEADER ====== */

header {
  text-align: center;
  background-color: $deep-blue;
  position: relative;

  h2 {
    font-size: 5rem;
    letter-spacing: .1rem;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    /* padding-bottom: 30px; */
    position: absolute;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    /* right: -350px; */
    /* top: 500px; */
    width: 845px;
    left: 4em;
    top: 1.7em;


    p {
      padding: 30px 0;
      font-size: 1.3rem;
      color: #fff;
      font-weight: 600;
    }

    .video-presentation {
      text-decoration: underline;
      cursor: pointer;
      color: #fff;
      font-size: 1.3rem;
    }

    .video-presentation:hover,
    .video-presentation:active {
      color: $yellow;
    }
  }

  /* ====== PRESENTATION====== */

  .presentation__nav {
    padding-top: 50px;
    color: $transp-deep-blue;

    h4 {
      cursor: pointer;
      font-size: 1.1rem;
    }

    .about__nav {
      display: inline-block;
    }

    .skills__nav {
      display: inline-block;
    }
  }

  .presentation {
    background: #24305e;
    color: #fff;
    position: relative;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    display: grid;
    place-content: center;
    height: 60vw;

    .laptop-abstract {
      width: 100%;
      /* max-width: 1000px; */
      position: relative;
      object-fit: cover;
      height: 60vw;
    }

    .presentation__col:last-of-type {
      padding-right: 100px;
      place-self: center;
    }
  }

  .about {
    text-align: start;
    margin: 0 auto;

    p {
      margin: 0 auto;
      max-width: 700px;
      font-size: 1.3rem;
      letter-spacing: 1px;
      line-height: 3rem;
      color: #fff;
      padding: 0 6em;
      text-align: start;
    }

    .curriculum {
      position: relative;
      top: 60px;
      left: 8em;
      transition: transform 100ms ease-in-out;

      a {
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 2px;
        box-shadow: -6px 6px 0 0 rgba(253, 253, 253, 0.2);
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        font-family: sans-serif;
        font-weight: 700;
        background-color: #fff;
        color: #24305e;

        i {
          padding-right: 15px;
        }
      }
    }
  }

  .skills {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    transition: opacity 300ms ease-in-out;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      list-style-type: none;
      place-items: center;
      padding-top: 20px;
      margin: 0 auto;

      li span {
        width: 90px;
        background: $yellow;
        color: #24305e;
        padding: 5px 0;
        text-align: center;
        border-radius: 8px;
        display: block;
        margin: 18px auto;
      }

      i {
        font-size: 3rem;
        cursor: pointer;
      }
    }
  }

  .about__nav,
  .skills__nav {
    color: $yellow;
  }

  .about h2,
  .skills h2 {
    font-size: 2rem;
    padding: 20px;
    font-weight: 700;
  }

  /* ====== MY RECENT WORKS ====== */

  .project {
    height: 60vw;
    margin: 0 auto;
    color: #24305e;
    text-align: center;
    background-color: $sky-blue;

    h2 {
      font-family: "Noto Sans", sans-serif;
      font-size: 10rem;
      color: #fff;
      position: relative;
      bottom: -300px;
      transform: rotate(270deg);
    }

    .project__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 650px;
      place-content: center;
      padding: 0 70px;

      .project__details {
        h3 {
          font-size: 1.3rem;
          color: #fff;
          text-align: start;
          padding-left: 50px;
          letter-spacing: 0.1rem;
        }

        p {
          font-size: 1.8rem;
          padding: 20px 50px 80px 50px;
          line-height: 2.8rem;
          text-align: start;
          font-weight: 700;
          font-family: "Noto Sans", sans-serif;
          width: 650px;
        }

        .project1_img {
          box-shadow: none;
          bottom: -60px;
          right: -90px;
          width: 45%;
          position: relative;
          transition: transform 100ms ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }

        .project__buttons {
          text-align: start;
          padding-left: 50px;

          a {
            color: $yellow;
            background-color: #24305e;
            text-decoration: none;
            padding: 18px 46px;
            border-radius: 2px;
            box-shadow: -6px 6px 0 0 rgba(0, 0, 0, 0.1);
            -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0px;
          }

          a:last-of-type {
            margin-left: 45px;
          }
        }
      }
    }
  }

  .project2 {
    @extend .project;
    background: #ddf5f5;

    .project__container {
      .project__details {
        h3 {
          color: $deep-blue;
        }

        .project1_img {
          box-shadow: none;
          bottom: -60px;
          right: -90px;
          width: 70%;
        }

        .project__buttons {
          a {
            color: #fff;
            background-color: $red;
          }
        }
      }
    }
  }

  .project3 {
    @extend .project;
    background: #8ea6c5;

    .project__container {
      .project__details {
        h3 {
          color: #fff;
        }



        .project1_img {
          width: 70%;
          box-shadow: 12px 9px 0px 0px #24305e38;
          bottom: 140px;
          right: -90px;
        }

        .project__buttons {
          a {
            color: $deep-blue;
            background-color: #fff;
          }
        }
      }
    }
  }

  /* ======= CALL TO ACTION ====== */

  .call-action {
    padding-top: 50px;

    a {
      text-decoration: none;
      color: $red;
      position: relative;
      transition: padding-right 100ms ease-in-out;

      &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        bottom: -5px;
        left: 2px;
        background: $red;
      }

      &:after {
        content: "\00bb";
        position: absolute;
        font-size: 2rem;
        opacity: 0;
        bottom: -3px;
        right: -20px;
        transition: 0.5s;
      }

      &:hover {
        transform: scale(1.3);
        padding-right: 28px;
      }

      &:hover:after {
        opacity: 1;
        right: 10px;
      }
    }

    p {
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }
  }

  #question {
    font-family: "Permanent Marker", cursive;
    font-size: 2.3rem;
    letter-spacing: 0.2rem;
    color: $yellow;
  }

  /* ======= FOOTER ======= */

  footer {
    color: #ffffffd6;
    padding: 20px 80px;
    text-align: center;
  }

  .logo-footer h1 {
    font-size: 2rem;
    letter-spacing: .1rem;
    font-family: 'beach_resortregular';
    color: white;
    padding: 20px;
  }

  .philo-phrase {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
  }

  .copyright {
    padding-top: 50px;
  }

  .copyright i {
    color: $red;
  }

  /* ====== SOCIALS ====== */

  .socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    place-items: center;
    padding-top: 30px;
    width: 20%;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: #fff;
    }

    i {
      font-size: 2rem;
      transition: 100ms ease-in-out;
      cursor: pointer;

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }
  }

  /* ======= MEDIA QUERY ======= */